:root {
	--hover-animation-duration: 1s;
    --background-image-animation-duration: 1s;
	--translation-offset: -7px;
	--translation: translate(
		var(--translation-offset),
		var(--translation-offset)
	);
	--click-animation-duration: 0.2s;
}

html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: seagreen;
    background-image: linear-gradient(to bottom right, seagreen, rgb(20, 83, 177));
}

.center-screen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#container {
	display: grid;
	grid-template-rows: 1fr 4fr 1fr;
	text-align: center;
	place-items: center;
	background-color: white;
	padding: 30px;
	width: 300px;
	height: 450px;
	transition: filter var(--hover-animation-duration);
}

#container:hover {
	filter: drop-shadow(0 0 1rem black);
}

#container h1 {
	font-size: 4ch;
	top: 20px;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text {
    font-size: 3ch;
}

#counter {
	font-size: 6em;
    font-weight: 700;
	color: lightseagreen;
	transition: color var(--click-animation-duration);
}

button {
    font-family: inherit;
	font-size: medium;
    font-size: 14px;
	font-weight: 600;
	background-color: lightseagreen;
	border-color: transparent;
	width: 300px;
	height: 100px;
	-webkit-transition: var(--hover-animation-duration) ease-in-out;
	-moz-transition: var(--hover-animation-duration) ease-in-out;
	-o-transition: var(--hover-animation-duration) ease-in-out;
	transition: var(--hover-animation-duration) ease-in-out,
		filter var(--hover-animation-duration),
		background-color var(--click-animation-duration);
}

button:hover {
	-webkit-transform: var(--translation);
	-moz-transform: var(--translation);
	-o-transform: var(--translation);
	-ms-transform: var(--translation);
	transform: var(--translation);
	filter: drop-shadow(
		calc(-1 * var(--translation-offset))
			calc(-1 * var(--translation-offset)) 7px black
	);
}

button:active {
	background-color: rgb(32, 114, 110);
}

.disabledButton {
    background-color: rgba(32, 114, 110, 0.397);
}

#container p {
	font-size: 13px;
}
